@page
@model Web.Pages.hands_on.IndexModel

@{
    ViewData["Title"] = "Azureハンズオン";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>LINEメッセージがここに表示されるよ</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Text
            </th>
            <th></th>
        </tr>
    </thead>
</table>
